body { 

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,; 

    color: #d1d7e2;
    background-image: url("https://3.bp.blogspot.com/-fAQ6d7pq7xY/WRBZ1YzHDiI/AAAAAAAABGk/PR_ztUj-8l0DOhTerIfudCRXXs9naRHgwCK4B/s1600/Certificate%2B-%2BBest%2BOnline%2BPhotography%2BCourse-797091.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
}
        .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.gallery img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;


    margin: 0; 

    padding: 0; 
    box-sizing: border-box;
    line-height: 1.6; 

} 
h1 {
    font-family: 'comrant garamong', sans-serif;
    letter-spacing: 1px;
}
footer { 

    background-color: #130f0f; 

    color: #226fe2; 
background-color: hsl(0, 0%, 0%);
    text-align: center; 

    padding: 4px 0; 

    position: fixed; 

    bottom: 0; 

    width: 100%; 

} 
p{  
    font-size: 1.2em;
}
a { 

    color: #230981; 

    text-decoration: none; 

} 


 

a:hover { 

    text-decoration: underline; 

} 



main a[href^="mailto:"] {

    color: #375bbe; 

    font-weight: bold;
}
form {
            width: 400px;
            padding: 20px;
            border: 1px solid #144be0;
            border-radius: 8px;
        }

        input, select, textarea {
            width: 100%;
            padding: 8px;
            margin-top: 8px;
            margin-bottom: 15px;
        }

        button {
            padding: 10px 15px;
            background-color: black;
            color: white;
            border: none;
            cursor: pointer;
        }

        table {
            width: 80%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid #aaa;
        }

        th, td {
            padding: 12px;
            text-align: center;
        }

        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>

    <h1>Photography Services</h1>
 
    